
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;;
}

body{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    
}

.bar{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: #F2F2F2;
    color: #000000;
    height:7.5vh;
    width: 100vw;
    
    padding: 10px 20px 10px 20px;

}

.brand{
    display: block;
    height: 32px;
    width: 32px;
    font-size: 24px;
}

.search{
    display: block;
    width: 257px;
    height: 27px;
    border: none;
}

.input{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    height: 27px;
    width: 181px;
    padding: 6px;
    cursor: text;
    border-radius: 4px;
}

.btn{
    display: inline-block;
    font-size: 13.33px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #874556;
    text-align: center;
    height: 27px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    width: 66px;
    margin: 0 0 0 6px;
    padding: 6px 12px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: #777777;
}

.nav{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    height: 18px;
    width: 287px;
    list-style-type: none;
    list-style-position: outside;
    color: #000000;
}

li{
    display: list-item;
}

.item{
    margin-left: 10px;
    height: 18px;
    width: 55px;
}

.activ{
    display: inline;
    padding: 8px;
    text-decoration: none;
    background-color: #874556;
    text-align: left;
    color: white;
    border-radius: 4px;
}

.link{
    display: inline;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    text-align: left;
    color: #000000;
    border-radius: 4px;
}

.link:hover{
    background-color: #874556;
    color: #ffffff;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: center;
    height: 91vh;
    width: 58vw;
    color: #000000;
    border-radius: 10px;
    position: relative;
    left: 20%;
}

.form{
    display: block;
    height: 248px;
    width: 340px;
    padding: 20px;
    background-color:white;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grp{
    display: block;
    height: 65px;
    width: 300px;
    margin: 0 0 20px 0;
}

label{
    display: block;
    font-weight: 700;
    color: #000000;
    height: 18px;
    width: 300px;
    margin: 0 0 5px 0;
    cursor: default;
}

input{
    display: block;
    height: 42px;
    width: 300px;
    border: 2px inset #767676 ;
    padding: 10px;
    cursor: text;
    border-radius: 5px;
}

.login{
    display: inline-block;
    cursor: pointer;
    background-color: #874556;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    height: 38px;
    width: 79px;
    border-radius: 5px;
}

.login:hover{
    background-color: white;
    color: #777777;
}